<div class="container user_page">
<div class="row">
<!--LEFT PAGE------------------------------>
    <div class="left-bar col-md-3">
              <div class="left-bar-prof">
        <!------------ユーザー情報------------->
            <h2>User info</h2>
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
            <p><strong>name</strong>：<%= @user.name %></p>
            <p><strong>introduction</strong>：<%= @user.introduction %></p>
            <%= link_to edit_user_path(@user.id), class:"btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-user-cog"></i>
            <% end %>
        </div>
        <!----------------投稿----------------->
        <div class="left-bar-post">
            <h2>New book</h2>
        <!---------------FORM_WITH----------------->
            <%= form_with model: Book.new, local: true do |form| %>
            <label class="form-label">Title</label>
            <%= form.text_field :title, class:"form-control" %>
            <label class="form-label">Opinion</label>
            <%= form.text_area :body, class:"form-control" %>
            <%= form.submit %>
            <% end %>
        
        </div>
    </div>
<!--RIGHT PAGE----------------------------->
    <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
        <div>
        <thead></thead>
        <tbody>
            <td><%= attachment_image_tag @user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %><br>
                <%= link_to @user.name, user_path(@user.id) %></td>
            <td><%= @pbook.title %></td>
            <td><%= @pbook.body %></td>
            <td><% if current_user.id == @pbook.user_id %>
                <%= link_to "Edit", edit_book_path(@pbook), class: "btn btn-success" %>
                <% end %>
                </td>
            <td><% if @pbook.user_id == current_user.id %>
                <%= link_to "Destroy", book_path(@pbook), method: :DELETE, data: {confirm:"本当に消しますか？"}, class: "btn btn-danger" %>
                <% end %></td>
        </tbody>
    </div>
    </table>
    </div>
<!--END------------------------------------>
</div>
</div>

